<form method = "POST"><br>
    <center>
    <h3 align="center">LOGIN</h3></center>
<center><div class="form.group">
    <label for="username">Username</label>
    <input type="username" class="form.control" id="username" name="username" placeholder="Enter username"/>
    </div></center>
    <center><div class="form.group">
        <label for="password">password</label>
        <input type="password" class="form.control" id="password" name="password" placeholder="Enter password"/>

    </div></center>
    <br />
    

        <button type="submit" class="btn btn.primary">Login</button>
    </center>

</form>